@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1440px;
    min-width: 350px;

    @apply mx-auto;
}

.btn {
    @apply px-4 shadow rounded-xl bg-[#00ECF9] hover:bg-blue-500 transition-colors duration-200
}

.arrow {
    padding-left: 1rem;
}

.grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
}

.mask-image {
    mask-image: linear-gradient(black, black, rgba(0, 0, 0, 0.05));
    -webkit-mask-image: linear-gradient(black, black, rgba(0, 0, 0, 0.05));
}

.font-responsive {
    font-size: clamp(3rem, 6.5vw, 5rem);
}

.font-responsive-m {
    font-size: clamp(4rem, 8vw, 5rem);
}

.ham-menu-open{
    @apply md:hidden fixed top-0 h-[100vh] w-[100vw] right-0 bg-gray-900 opacity-90 z-50 transition-all duration-200 ease-in-out
}
.ham-menu-close{
    @apply md:hidden fixed top-0 h-[100vh] w-[100vw] right-[-200%] bg-gray-900 opacity-90 z-50 transition-all duration-200 ease-in-out
}
